.anouncements-header{
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: orange
}
.anouncements-main{
  display: grid;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: 20vh;
  grid-auto-rows: 20vh;
  margin: 2vh 5vw 0px ;
}
.anouncement-poster{
  font-size: xx-large;
  background: slategrey;
  border: solid #f1f1f1 2px;
}
.anouncement-content{
  background: slategrey;
  border: solid #f1f1f1 2px;
  font-size: xx-large;
}
.anouncement-delete{
  background-color:  tomato;
  border: red solid 1px;
  color: 
  #041330;
}

@media(max-width: 1000px){
  .anouncements-main{
    grid-template-rows: 30vh;
    grid-auto-rows: 30vh;
  }
}