.anouncements-header{
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: orange
}
.anouncements-main{
  display: grid;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  margin: 2vh 5vw 0px ;
}
.anouncement-poster{
  font-size: xx-large;
  background: slategrey;
  border: solid #f1f1f1 2px;
}
.anouncement-content{
  border: solid #f1f1f1 2px;
  font-size: xx-large;
  padding: 1rem;
}
.anouncement-delete{
  background-color:  tomato;
  border: red solid 1px;
  color: 
  #041330;
}

